<a href="https://colab.research.google.com/github/THANUSH0000/python-machine-earning/blob/main/Pandas1_115.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#empty Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
emp=pd.Series(['Parker','john','Smith','William'])
id_series=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id_series}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

       Emp   ID
0   Parker  102
1     john  107
2    Smith  109
3  William  114

In [6]:
print("\nExtracting on column:\n")
print(result['Emp'])

Extracting on column:

0     Parker
1       john
2      Smith
3    William
Name: Emp, dtype: object

In [7]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Parker  102   35
1     john  107   24
2    Smith  109   40
3  William  114   38

In [8]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     john  107
2    Smith  109
3  William  114

In [9]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [10]:
print("\nSlice rows:\n",result[1:3])

Slice rows:
      Emp   ID
1   john  107
2  Smith  109

In [11]:
d2=pd.DataFrame([['Date',123],['Mark',143]],columns=['Emp','ID'])
print("\nAdding new row values:\n",pd.concat([result,d2]))

Adding new row values:
        Emp   ID
0   Parker  102
1     john  107
2    Smith  109
3  William  114
0     Date  123
1     Mark  143

In [12]:
print("\nDeleting particular row :\n",result.drop(1))

Deleting particular row :
        Emp   ID
0   Parker  102
2    Smith  109
3  William  114